.container{
    width: 90%;
    margin: 10px auto 0 auto;
    
}

.sobre{
    padding:10px 0 20px 0;
}

.sobre a{
    color:#4483ca;
}

.interesses{
    padding: 0px 0 20px 0;
}

.flex-interesses{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex-interesses div{
    margin-right: 20px;
    margin-top: 10px;
}

.code,
.planet,
.book{
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #71c5ea;
}

.flex-formacao{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex-uni{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo-uni{
    width: 127px;
    height: 71px;
    margin: 15px 25px 10px 0;
}

.logo-if{
    width: 133px;
    height: 111px;
    margin: 15px 15px 10px 0;
}