/*----------GERAL----------*/
.container{
    width: 72em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
    border: 1px solid red;
}

.sections{
    padding: 5em 5em 3em 5em;
}



/*------SOBRE--------*/
.flex-about{
    display: flex;
}

.content, .image{
    border: 1px solid red;
}

header.title h1{
    font-size: 2em;
}

header.title h1::after{
    content: '';
    display: block;
    width: 3.25em;
    height: 3px;
    margin: 0.7em 0 1em 0;
    border-radius: 2px;
    background-image: linear-gradient(
        90deg, #7e75d1, #9882d4, #8cc9f0);;
}




/*---------INTERESSES----------*/



/*--------FORMAÇÃO--------*/


/*--------CONHECIMENTOS----------*/


/*-------LIVROS----------*/
