header{
    background-color: #4483ca;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.foto{
    width: 150px;
    height: 150px;
}

.perfil{
    border-radius: 75px;
}

.info-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 23%;
}

.midias{
    display: flex;
    align-items: center;
    margin-top: 15px;
    background-color: #d47b5a;
    border-radius: 10px;
}

.midias a{
    padding: 10px;
}

