header{
    background-color: rgb(138, 132, 226);
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto{
    width: 150px;
    height: 150px;
    background-color: rgb(83, 67, 67);
    border-radius: 75px;
    margin-bottom: 10px;
}

.info-header{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 15%;
}

.midias{
    display: flex;
    margin-top: 15px;
    background-color: rgb(236, 131, 131);
    border-radius: 10px;
}

.midias a{
    padding: 10px;
}