@import url(header.css);
@import url(container.css);
@font-face {
    font-family: "Tommy";
    src: url("../font/Tommy_Soft.woff");
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Tommy";
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

img{
    display: block;
}

h2{
    margin-bottom: 10px;
}
