@import url(header.css);
@import url(container.css);
@import url(media_querys.css);

@font-face {
    font-family: "Tommy";
    src: url("../font/Tommy_Soft.woff");
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

body{
    background-color: #ffffff;
    
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000000;
}

img{
    display: block;
    max-width: 100%;
}

